@import '~bootstrap/scss/bootstrap';

.draggable {
  width: 200px;
  height: 40px;
  padding: 5px;
  margin: auto;
  font-size: .9em;
  border: 1px black solid;
  text-align: center;
}

#headingWrapper {
  text-align: center;
}

#girls {
  float: right;
  width: 50%;
  text-align: center;
  background-color: pink;
  height: 400px;
}

#boys {
  float: left;
  width: 50%;
  height: 400px;
  text-align: center;
  background-color: lightblue;
}

#notPlaying {
  text-align: center;
  background-color: lightgreen;
  margin: auto;
  height: 300px;
  clear: both;
}
